:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'vendor/bootswatch/variables';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  // Custom global bootstrap fixes
  .list-group button:focus {
    outline: none;
  }

  // Monkey-patch react-select to look like bootstrap field
  .has-error {
    .Select-arrow-zone {
      // Fix for
      padding-right: 36px;
    }
    .Select-control {
      border-color: $brand-danger;
    }
  }
}
